* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: roboto, sans-serif;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

img {
    border: 3px solid lightblue;
    border-radius: 10px;
    width: 125px;
    height: 125px;
}

.button-1 {
    background-color: #3882F6;
    border-radius: 5px;
    width: 80px;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
}

.placeholder-img {
    background-color: gray;
    height: 200px;
}

.header, .footer {
    background-color: #1F2937;
}

.header {
    padding-bottom: 100px;
}

.header p, .footer p {
    font-size: 18px;
    color: #E5E7EB;
}

.header-container, .info-container {
    width: 85%;
    margin: 0 auto;
}

.header-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
}

.header-1 h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.header-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 75px;
    gap: 32px;
}

.header-2-1 {
    flex: 1;
}

.header-2-1 h2 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.header-2-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.info-container {
    margin-top: 50px;
    margin-bottom: 75px;
}

.info-container h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 50px;
}

.info-items {
    display: flex;
}

.info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.info-item p {
    text-align: center;
    width: 150px;
}

